*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    width: 100%;
}
main{
    display: flex;
    background-color: hsl(244, 38%, 16%) ;
    border-radius: 15px;
    width: 90%;
}
.mobile-img{
    display: none   ;
}

main img{
    border-radius: 15px;
}
.contanier{
    padding-top: 30px ;
    padding-left: 40px;
}
.contanier .head h1{
    color: white;
}
.contanier .head h1 span{
    color: hsl(277, 64%, 61%);
}
.contanier .head p,
.info-mobile p{
    line-height: 1.9;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 1px;
    
}
.contanier .info{
    margin-top: 80px;
    padding-right:40px ;
    display: grid;
    text-align: center;    
    grid-template-columns: auto auto auto;
}
.info-mobile{
    display: none;
}
.contanier .info h2,
.info-mobile h2{
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
    font-size: 26px;
    color: white;
    
}
.contanier .info p{
    margin-top: 20px;
    color:hsla(0, 0%, 100%, 0.75) ;
    font-size: 15px;
}
@media (max-width:767px){
    main img{
        display: none;
    }
    .mobile-img{
        display:block;
        /* width: 320px; */
    }
    main{
        display: flex;
        flex-direction: column;
        width: 350px;
        justify-content: flex-end;
        
    }
    .contanier{
        padding:20px 10px;
        /* width: 320px; */
    }
    .contanier .info{
        display: none;
    }
    .info-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
    .info-mobile h2{
        margin-top: 30px;
    }
}