*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    align-content: flex-end;
}
main{
    display: flex;
    background-color: hsl(244, 38%, 16%)  ;
}

.contanier{
    padding-top: 30px ;
    padding-left: 40px;
    /* max-width:1140px ; */
    /* height: auto; */
    grid-area: con;
}
.contanier .head{
    width: 460px;   
}
.contanier .head h1{
    color: white;
}
.contanier .head h1 span{
    color: hsl(277, 64%, 61%);
}
.contanier .head p{
    line-height: 1.9;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 1px;
    
}
.contanier .info{
    margin-top: 80px;
    padding-right:40px ;
    display: grid;
    text-align: center;    
    grid-template-columns: auto auto auto;
}
.contanier .info h2{
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
    font-size: 26px;
    color: white;
}
.contanier .info p{
    margin-top: 20px;
    color:hsla(0, 0%, 100%, 0.75) ;
    font-size: 15px;
}
@media (min-width:767px) {
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}